<% layout('./layouts/boilerplate') -%>
    <h1>Campground</h1>
    <h3>Title: <%= campground.title%></h3>
    
    <h3>location: <%= campground.location%></h3>
    <img src="<%= campground.image%>" style="width:250px;height:300px;">
    <p><%= campground.description%></p>
    <br>
    <a href="/campgrounds/<%= campground._id%>/edit">Edit</a>
    <br>
    <a href="/campgrounds">Back to Campgrounds</a>
    <br>
    <div>
        <form action="/campgrounds/<%= campground._id%>/?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
