<% layout('./layouts/boilerplate') -%>
<div class="card bg-dark text-black">
    <img src="<%=campground.image%>" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title">Title: <%=campground.title%></h1>
      <h4 class="card-text">Location: $<%=campground.location%></h4>
      <p class="card-text">Description: <%=campground.description%></p>
      <p class="card-text">Price: $<%=campground.price%></p>
    </div>
  </div>

    <a href="/campgrounds/<%= campground._id%>/edit">Edit</a>
    <br>
    <a href="/campgrounds">Back to Campgrounds</a>
    <br>
    <div>
        <form action="/campgrounds/<%= campground._id%>/?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
